.birinchi .navbar-light .navbar-nav .nav-link {
  color: #333333;
  font-weight: 500;
}

.birinchi nav {
  padding-bottom: 5px;
  border-bottom: 2px solid #e9e9e9;
}

.birinchi nav .navbar-toggler {
  border-color: transparent;
}

.birinchi nav .menular li {
  margin-left: 30px;
}

.birinchi nav form button {
  background-color: #4bb543;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #ffffff;
}

.birinchi .malumot .ikkinchi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  width: 80%;
  background: #ffffff;
  -webkit-box-shadow: 0px 24px 70px rgba(0, 64, 48, 0.2);
          box-shadow: 0px 24px 70px rgba(0, 64, 48, 0.2);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 22rem;
}

.birinchi .malumot .ikkinchi .left {
  width: 50%;
  padding-left: 15px;
}

.birinchi .malumot .ikkinchi .left h4 {
  font-size: 22px;
  color: #333333;
  margin-top: 25px;
}

.birinchi .malumot .ikkinchi .left p {
  margin-top: 30px;
  font-size: 18px;
}

.birinchi .malumot .ikkinchi .left .batafsil {
  margin-top: 10px;
  padding: 5px 50px;
}

.birinchi .malumot .ikkinchi .left .karam {
  -webkit-transform: translateX(-80px);
          transform: translateX(-80px);
}

.birinchi .malumot .ikkinchi .left .karam img {
  width: 150px;
}

.birinchi .malumot .ikkinchi .right .gul {
  width: 350px;
}

.birinchi .bizning_mahsulot {
  margin-top: 90px;
}

.birinchi .bizning_mahsulot .uchinchi h3 {
  text-align: center;
}

.birinchi .bizning_mahsulot .uchinchi p {
  text-align: center;
  width: 60%;
  font-size: 14px;
  margin: 15px auto;
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 {
  background-image: url(./images/Mask.png);
  background-repeat: no-repeat;
  background-size: 400px;
  background-position-y: 140px;
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_1 {
  padding: 0;
  background-color: #ffffff;
  width: 100px;
  border-radius: 5px;
  height: 250px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_1 .matn_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_1 .matn_1 .matn_1-quti {
  height: 250px;
  width: 230px;
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_1 .matn_1 .matn_1-content {
  -webkit-transform: translate(-10px, 25%);
          transform: translate(-10px, 25%);
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_1 .matn_1 .matn_1-content h3 {
  line-height: 30px;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 1px;
  font-family: serif;
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_1 .matn_1 .matn_1-content p:nth-child(2) {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  width: 120px;
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_1 .matn_1 .matn_1-content p:nth-child(3) {
  color: #03a803;
  font-size: 25px;
  font-weight: 700;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  width: 120px;
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_1 .matn_1 .matn_1-content p:nth-child(3) span {
  color: black;
  font-weight: 400;
  font-size: 16px;
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_2 {
  padding-left: 55px;
  padding-right: 55px;
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_2 .ustun_3 {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 120px;
  padding: 0;
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_2 .ustun_3 .matn_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_2 .ustun_3 .matn_2 .matn_2-quti {
  height: 120px;
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_2 .ustun_3 .matn_2 .matn_2-content {
  -webkit-transform: translate(-30%, 10%);
          transform: translate(-30%, 10%);
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_2 .ustun_3 .matn_2 .matn_2-content h3 {
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 1px;
  font-family: serif;
  margin: 0;
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_2 .ustun_3 .matn_2 .matn_2-content p:nth-child(2) {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  width: 120px;
  margin: 0;
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_2 .ustun_3 .matn_2 .matn_2-content p:nth-child(3) {
  color: #03a803;
  font-size: 25px;
  font-weight: 700;
  width: 120px;
  margin: 0;
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_2 .ustun_3 .matn_2 .matn_2-content p:nth-child(3) span {
  color: black;
  font-weight: 400;
  font-size: 16px;
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_3 {
  margin-top: 20px;
  margin-left: 40px;
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_3 .ustun_4 {
  height: 120px;
  border-radius: 5px;
  overflow: hidden;
  background-image: url(./images/quti.png);
  background-size: 130px;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 4px 4px 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_3 .ustun_4 .aylana_1 {
  background-color: white;
  width: 170px;
  height: 111px;
  -webkit-clip-path: circle(94.5% at 95% 100%);
          clip-path: circle(94.5% at 95% 100%);
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_3 .ustun_4 .aylana_1 h5 {
  margin-bottom: 0;
  margin-left: 55px;
  padding-top: 40px;
  font-weight: 700;
  font-size: 18px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_3 .ustun_4 .aylana_1 p:nth-child(2) {
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: 45px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_3 .ustun_4 .aylana_1 p:nth-child(3) {
  margin-top: 0px;
  margin-left: 45px;
  color: #03a803;
  font-weight: 700;
  font-size: 20px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_3 .ustun_4 .aylana_1 p:nth-child(3) span {
  color: black;
  font-weight: 400;
  font-size: 16px;
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_3 .ustun_5 {
  border-radius: 5px;
  height: 120px;
  overflow: hidden;
  background-image: url(./images/quti.png);
  background-size: 130px;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 4px 4px 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 40px;
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_3 .ustun_5 .aylana_2 {
  background-color: white;
  width: 170px;
  height: 111px;
  -webkit-clip-path: circle(94.5% at 95% 100%);
          clip-path: circle(94.5% at 95% 100%);
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_3 .ustun_5 .aylana_2 h5 {
  margin-bottom: 0px;
  margin-left: 60px;
  padding-top: 40px;
  font-weight: 700;
  font-size: 18px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_3 .ustun_5 .aylana_2 p:nth-child(2) {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 45px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_3 .ustun_5 .aylana_2 p:nth-child(3) {
  margin-top: 0px;
  margin-left: 45px;
  color: #03a803;
  font-weight: 700;
  font-size: 20px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_3 .ustun_5 .aylana_2 p:nth-child(3) span {
  color: black;
  font-weight: 400;
  font-size: 16px;
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_4 .ustun_6 {
  margin-top: 40px;
  color: #333333;
  margin-bottom: 20px;
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_5 .ustun_7 {
  height: 40px;
  color: #ffffff;
  font-weight: 600;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_5 .ustun_7:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_5 .ustun_8 img {
  width: 120px;
  -webkit-transform: translate(70px, -40px);
          transform: translate(70px, -40px);
}

.birinchi .muvaffaqiyat h3 {
  text-align: center;
}

.birinchi .muvaffaqiyat .parag_1 {
  text-align: center;
  width: 60%;
  margin: 15px auto;
}

.birinchi .muvaffaqiyat .qator_6 .ustun_9 .chap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.birinchi .muvaffaqiyat .qator_6 .ustun_9 .chap img {
  width: 130px;
  margin-right: 20px;
}

.birinchi .muvaffaqiyat .qator_6 .ustun_9 .chap .content {
  height: 70px;
}

.birinchi .muvaffaqiyat .qator_6 .ustun_10 .lider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.birinchi .muvaffaqiyat .qator_6 .ustun_10 .lider img {
  width: 130px;
  margin-right: 20px;
}

.birinchi .muvaffaqiyat .qator_6 .ustun_10 .lider .content_right {
  height: 70px;
}

.birinchi .tarkib {
  margin-top: 30px;
}

.birinchi .tarkib .qator_7 .ustun_11 img {
  margin-top: 110px;
}

.birinchi .tarkib .qator_7 .ustun_13 .tarkib_title {
  font-family: serif;
  font-weight: 900;
  color: #333333;
}

.birinchi .tarkib .qator_7 .ustun_13 .parag_6 {
  color: black;
  opacity: 0.8;
  border-bottom: 2px solid #03a803;
  font-size: 12px;
  width: 356px;
  margin-bottom: 50px;
}

.birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .parag_7 {
  margin-bottom: 5px;
  font-size: 12px;
}

.birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .parag_8 {
  font-size: 12px;
  margin-bottom: 2px;
  margin-top: 20px;
}

.birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .parag_9 {
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 20px;
}

.birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .parag_10 {
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 20px;
}

.birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 h4 {
  color: black;
  font-size: 14px;
}

.birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 h3 {
  color: #03a803;
}

.birinchi .namuna {
  margin-top: 50px;
}

.birinchi .namuna .namuna_title {
  text-align: center;
  color: #333333;
  font-size: 28px;
  font-family: serif;
  font-weight: 900;
}

.birinchi .namuna .parag_10 {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  color: #333333;
}

.birinchi .namuna .qator_9 {
  margin-top: 25px;
}

.birinchi .namuna .qator_9 .ustun_15 img {
  height: 388px;
}

.birinchi .namuna .qator_9 .ustun_16 .my-m-top {
  margin-top: 25px;
}

.birinchi .namuna .qator_9 .ustun_16 img {
  height: 180px;
}

.birinchi .namuna .qator_9 .ustun_17 .my-width {
  width: 428px;
}

.birinchi .namuna .qator_9 .ustun_17 img {
  height: 180px;
}

.birinchi .namuna .qator_9 .ustun_17 .qator_9 .ustun_18 img {
  height: 180px;
}

.birinchi .hamkorlarimiz .parag_11 {
  text-align: left;
  width: 500px;
  margin-bottom: 25px;
  margin-top: 20px;
}

.birinchi .hamkorlarimiz .hamkorlarimiz_title {
  font-family: serif;
  font-weight: 900;
  margin-top: 0px;
}

.birinchi .hamkorlarimiz .qator_10 {
  margin-top: 50px;
}

.birinchi .hamkorlarimiz .qator_10 .ustun_18 .qator_11 .ustun_19 img {
  width: 130px;
  height: 100px;
  margin: 15px 15px 15px 0px;
  background: #ffffff;
  -webkit-box-shadow: 0px 14px 22px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 14px 22px rgba(0, 0, 0, 0.08);
}

.birinchi .hamkorlarimiz .qator_10 .ustun_20 {
  margin-top: 50px;
}

.birinchi .hamkorlarimiz .qator_10 .ustun_20 img {
  width: 450px;
  -webkit-transform: translate(-70px, 40px);
          transform: translate(-70px, 40px);
}

.birinchi .hamkorlarimiz .social {
  margin-top: 120px;
  background: #ffffff;
  -webkit-box-shadow: 0px 14px 22px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 14px 22px rgba(0, 0, 0, 0.08);
}

.birinchi .hamkorlarimiz .social .qator_12 .ustun_21 {
  padding: 30px 0px 30px 40px;
}

.birinchi .hamkorlarimiz .social .qator_12 .ustun_21 .parag_11 {
  font-size: 20px;
  font-weight: 900;
  font-family: serif;
}

.birinchi .hamkorlarimiz .social .qator_12 .ustun_21 .raqam {
  color: #03a803;
  background: rgba(3, 168, 3, 0.1);
  font-family: serif;
  margin-top: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;
  width: 237px;
  height: 35px;
}

.birinchi .hamkorlarimiz .social .qator_12 .ustun_22 {
  padding: 30px 0px 30px 40px;
}

.birinchi .hamkorlarimiz .social .qator_12 .ustun_22 .parag_12 {
  font-size: 20px;
  font-weight: 900;
  font-family: serif;
}

.birinchi .hamkorlarimiz .social .qator_12 .ustun_22 .messenger .tarmoq {
  border: 1px solid #03a803;
  margin-right: 20px;
  padding: 5px 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.birinchi .hamkorlarimiz .social .qator_12 .ustun_22 .messenger .tarmoq:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.birinchi .past {
  margin-top: 80px;
}

.birinchi .past .past_navbar {
  color: #333333;
  font-weight: 500;
}

.birinchi .past .past_navbar {
  padding-bottom: 5px;
  border-bottom: 0px solid white;
}

.birinchi .past .past_navbar .menular li {
  margin-left: 30px;
}

.birinchi .past .past_navbar form button {
  background-color: #4bb543;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #ffffff;
}

.birinchi .past .qator_13 {
  margin-top: 20px;
}

.birinchi .past .qator_13 .ustun_23 {
  font-size: 12px;
  opacity: 0.8;
  font-weight: 600;
}

.birinchi .past .qator_13 .ustun_23 .ustun_23a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.birinchi .past .qator_13 .ustun_23 .ustun_23a div:nth-child(2) {
  padding-left: 10px;
  font-size: 12px;
}

.birinchi .past .qator_13 .ustun_23:nth-child(2) {
  font-size: 15px;
}

.birinchi .past .qator_13 .ustun_23:nth-child(3) a {
  font-size: 15px;
  color: black;
  opacity: 0.8;
  text-decoration: none;
  margin-left: 5px;
}

@media (max-width: 767px) {
  .birinchi .tepa_navbar .butt-form {
    margin-left: 28px;
  }
  .birinchi .malumot .ikkinchi {
    display: block;
    height: 300px;
  }
  .birinchi .malumot .ikkinchi .left {
    width: 100%;
  }
  .birinchi .malumot .ikkinchi .left h4 {
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    word-spacing: 10px;
    font-weight: 700;
    margin-left: -23px;
  }
  .birinchi .malumot .ikkinchi .left p {
    font-size: 15px;
    text-align: center;
  }
  .birinchi .malumot .ikkinchi .left .batafsil {
    -webkit-transform: translateX(45%);
            transform: translateX(45%);
  }
  .birinchi .malumot .ikkinchi .left .karam img {
    width: 150px;
    -webkit-transform: translate(32px, 0px);
            transform: translate(32px, 0px);
  }
  .birinchi .malumot .ikkinchi .gul {
    width: 320px;
  }
  .birinchi .bizning_mahsulot {
    margin-top: 520px;
  }
  .birinchi .bizning_mahsulot .uchinchi p {
    text-align: center;
    margin: 20px auto;
    width: 90%;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 {
    background-image: none;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_1 {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_1 .matn_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_1 .matn_1 .matn_1-quti {
    height: 150px;
    width: 174px;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_1 .matn_1 .matn_1-content {
    -webkit-transform: translate(-30px, 12px);
            transform: translate(-30px, 12px);
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_1 .matn_1 .matn_1-content h3 {
    margin: 0;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_1 .matn_1 .matn_1-content p:nth-child(2) {
    margin-top: 2px;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_1 .matn_1 .matn_1-content p:nth-child(3) {
    margin-top: 20px;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_2 {
    padding: 0;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_2 .ustun_3 {
    height: 150px;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_2 .ustun_3 .matn_2 .matn_2-quti {
    height: 151px;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_2 .ustun_3 .matn_2 .matn_2-content {
    width: 116px;
    height: 292px;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_3 {
    width: 100%;
    margin: 0px;
    margin-top: 20px;
    padding: 0;
    display: none;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_3 .ustun_4 .aylana_1 h5 {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_3 .ustun_4 .aylana_1 p:nth-child(2) {
    margin-left: 40px;
    font-size: 14px;
    margin-top: 12px;
    letter-spacing: -1px;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_3 .ustun_4 .aylana_1 p:nth-child(3) {
    margin-left: 33px;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_4 .ustun_6 {
    text-align: justify;
    width: 100%;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_5 {
    width: 90%;
  }
  .birinchi .muvaffaqiyat h3 {
    text-align: center;
    margin: 10px auto;
    font-weight: 700;
  }
  .birinchi .muvaffaqiyat .parag_1 {
    text-align: justify;
    width: 90%;
  }
  .birinchi .muvaffaqiyat .qator_6 {
    margin-top: 50px;
  }
  .birinchi .muvaffaqiyat .qator_6 .ustun_9 .chap {
    margin-bottom: 0;
  }
  .birinchi .muvaffaqiyat .qator_6 .ustun_9 .chap img {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  .birinchi .muvaffaqiyat .qator_6 .ustun_9 .chap .content {
    margin-bottom: 150px;
  }
  .birinchi .muvaffaqiyat .qator_6 .ustun_9 .chap .content .parag_2 {
    text-align: justify;
    margin-right: 20px;
  }
  .birinchi .muvaffaqiyat .qator_6 .ustun_10 .lider {
    margin-bottom: 0;
  }
  .birinchi .muvaffaqiyat .qator_6 .ustun_10 .lider img {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  .birinchi .muvaffaqiyat .qator_6 .ustun_10 .lider .content_right {
    margin-bottom: 150px;
  }
  .birinchi .muvaffaqiyat .qator_6 .ustun_10 .lider .content_right .parag_4 {
    text-align: justify;
    margin-right: 20px;
  }
  .birinchi .tarkib {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  .birinchi .tarkib .qator_7 .tarkib_title {
    margin-top: 10px;
    text-align: center;
  }
  .birinchi .tarkib .qator_7 .ustun_11 .ustun_11-img {
    width: 100%;
    margin-top: 20px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .parag_6 {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    width: 340px;
    margin: 10px auto;
    border: none;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 {
    margin-right: 10px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .parag_7 {
    font-size: 14px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 h4 {
    font-size: 14px;
    color: black;
    font-weight: bold;
    margin-top: 10px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .parag_8 {
    font-size: 14px;
    margin-top: 15px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .t_01 {
    margin-top: 20px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .t_1 {
    margin-top: 26px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .t_2 {
    margin-top: 37px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .t_3 {
    margin-top: 15px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .parag_9 {
    font-size: 14px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .t_4 {
    margin-top: 20px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .t_5 {
    margin-top: 2px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .t_6 {
    margin-top: 4px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .parag_10 {
    font-size: 14px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .t_7 {
    margin-top: 10px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .t_8 {
    margin-top: 28px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .mya-1 {
    margin-top: 10px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .mya-2 {
    margin-top: 34px;
  }
  .birinchi .namuna {
    margin-top: -60px;
  }
  .birinchi .namuna .namuna_title {
    line-height: 25px;
    font-size: 30px;
  }
  .birinchi .namuna .parag_10 {
    text-align: center;
    width: 90%;
    font-size: 18px;
    font-weight: 600;
  }
  .birinchi .namuna .qator_9 .ustun_15 img {
    height: 300px;
    width: 100%;
  }
  .birinchi .namuna .qator_9 .ustun_16 img {
    width: 100%;
    margin-top: 15px;
    height: 200px;
  }
  .birinchi .namuna .qator_9 .ustun_17 .my-width {
    width: 100%;
    margin-top: 15px;
  }
  .birinchi .namuna .qator_9 .qator_9 .ustun_18 img {
    width: 100%;
    height: 200px;
    margin-top: -10px;
    margin-bottom: 20px;
  }
  .birinchi .hamkorlarimiz {
    background-image: none;
    margin-bottom: 300px;
    margin-top: 10px;
  }
  .birinchi .hamkorlarimiz .parag_11 {
    width: 95%;
    text-align: justify;
  }
  .birinchi .hamkorlarimiz .hamkorlarimiz_title {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
  }
  .birinchi .hamkorlarimiz .qator_10 .ustun_18 .qator_11 .ustun_19 {
    padding-left: 14%;
  }
  .birinchi .hamkorlarimiz .qator_10 .ustun_18 .qator_11 .ustun_19 img {
    margin-left: 15px;
  }
  .birinchi .hamkorlarimiz .qator_10 .ustun_20 img {
    width: 280px;
    -webkit-transform: translate(40%, -30px);
            transform: translate(40%, -30px);
  }
  .birinchi .hamkorlarimiz .social {
    margin-top: -5px;
  }
  .birinchi .hamkorlarimiz .social .qator_12 .ustun_21 .raqam {
    width: 284px;
    color: #4bb543;
    font-size: 20px;
    height: 40px;
    padding-left: 15px;
    border-radius: 5px;
    margin-left: 17%;
  }
  .birinchi .hamkorlarimiz .social .qator_12 .ustun_21 .parag_11 {
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 22px;
    -webkit-transform: translateX(-13px);
            transform: translateX(-13px);
  }
  .birinchi .hamkorlarimiz .social .qator_12 .ustun_22 .parag_12 {
    margin-top: -45px;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
  }
  .birinchi .hamkorlarimiz .social .qator_12 .ustun_22 .messenger {
    display: -ms-grid;
    display: grid;
  }
  .birinchi .hamkorlarimiz .social .qator_12 .ustun_22 .messenger .tarmoq {
    width: 50%;
    font-size: 20px;
    font-weight: 600;
    margin-left: 20%;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  .birinchi .hamkorlarimiz .social .qator_12 .ustun_22 .messenger .tarmoq img {
    width: 25px;
    margin-left: -15px;
  }
  .birinchi .past {
    margin-top: -375px;
  }
  .birinchi .past .past_navbar {
    margin-top: 370px;
  }
  .birinchi .past .past_navbar ul {
    margin-top: 20px;
  }
  .birinchi .past .past_navbar ul li a {
    font-size: 20px;
  }
  .birinchi .past .qator_13 .ustun_23 {
    margin-top: 10px;
    font-size: 18px;
  }
  .birinchi .past .qator_13 .ustun_23 .past-email {
    width: 30px;
    margin-right: 15px;
  }
  .birinchi .past .qator_13 .ustun_23 .past-tel {
    width: 25px;
    margin-right: 20px;
  }
  .birinchi .past .qator_13 .ustun_23:nth-child(2) {
    font-size: 18px;
  }
  .birinchi .past .qator_13 .ustun_23:nth-child(3) .bio-email {
    font-size: 19px;
  }
  .birinchi .past .qator_13 .ustun_23:nth-child(4) .ustun_23a div:nth-child(1) .past-map {
    width: 38px;
  }
  .birinchi .past .qator_13 .ustun_23:nth-child(4) .ustun_23a div:nth-child(2) {
    font-size: 19px;
    line-height: 20px;
  }
}

@media (max-width: 361px) {
  .birinchi .tepa_navbar .butt-form {
    margin-left: 28px;
  }
  .birinchi .malumot .ikkinchi {
    display: block;
    height: 300px;
  }
  .birinchi .malumot .ikkinchi .left {
    width: 100%;
  }
  .birinchi .malumot .ikkinchi .left h4 {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
    word-spacing: 10px;
    font-weight: 700;
    margin-left: -23px;
  }
  .birinchi .malumot .ikkinchi .left p {
    font-size: 15px;
  }
  .birinchi .malumot .ikkinchi .left .batafsil {
    margin: 0px auto;
  }
  .birinchi .malumot .ikkinchi .left .karam img {
    width: 120px;
    -webkit-transform: translateX(38px);
            transform: translateX(38px);
  }
  .birinchi .malumot .ikkinchi .gul {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
    width: 280px;
  }
  .birinchi .bizning_mahsulot {
    margin-top: 480px;
  }
  .birinchi .bizning_mahsulot .uchinchi p {
    text-align: justify;
    margin: 20px auto;
    width: 90%;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 {
    background-image: none;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_1 {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_1 .matn_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_1 .matn_1 .matn_1-quti {
    height: 150px;
    width: 174px;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_1 .matn_1 .matn_1-content {
    -webkit-transform: translate(7px, 12px);
            transform: translate(7px, 12px);
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_1 .matn_1 .matn_1-content h3 {
    margin: 0;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_1 .matn_1 .matn_1-content p:nth-child(2) {
    margin-top: 2px;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_1 .matn_1 .matn_1-content p:nth-child(3) {
    margin-top: 20px;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_2 {
    padding: 0;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_2 .ustun_3 {
    height: 150px;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_2 .ustun_3 .matn_2 .matn_2-quti {
    height: 151px;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_2 .ustun_3 .matn_2 .matn_2-content {
    width: 116px;
    height: 292px;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_3 {
    width: 100%;
    margin: 0px;
    margin-top: 20px;
    padding: 0;
    display: none;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_3 .ustun_4 .aylana_1 h5 {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_3 .ustun_4 .aylana_1 p:nth-child(2) {
    margin-left: 40px;
    font-size: 14px;
    margin-top: 12px;
    letter-spacing: -1px;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_3 .ustun_4 .aylana_1 p:nth-child(3) {
    margin-left: 33px;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_4 .ustun_6 {
    text-align: justify;
    width: 100%;
  }
  .birinchi .bizning_mahsulot .uchinchi .qator_1 .ustun_2 .qator_5 {
    width: 90%;
  }
  .birinchi .muvaffaqiyat h3 {
    text-align: center;
    margin: 10px auto;
    font-weight: 700;
  }
  .birinchi .muvaffaqiyat .parag_1 {
    text-align: justify;
    width: 90%;
  }
  .birinchi .muvaffaqiyat .qator_6 .ustun_9 .chap .content {
    margin-bottom: 150px;
  }
  .birinchi .muvaffaqiyat .qator_6 .ustun_9 .chap .content .parag_2 {
    text-align: justify;
    margin-right: 20px;
  }
  .birinchi .muvaffaqiyat .qator_6 .ustun_10 .lider .content_right {
    margin-bottom: 150px;
  }
  .birinchi .muvaffaqiyat .qator_6 .ustun_10 .lider .content_right .parag_4 {
    text-align: justify;
    margin-right: 20px;
  }
  .birinchi .tarkib {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  .birinchi .tarkib .qator_7 .tarkib_title {
    margin-top: 10px;
    text-align: center;
  }
  .birinchi .tarkib .qator_7 .ustun_11 .ustun_11-img {
    width: 100%;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .parag_6 {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    width: 340px;
    margin: 10px auto;
    border: none;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 {
    margin-right: 10px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .parag_7 {
    font-size: 14px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 h4 {
    font-size: 14px;
    color: black;
    font-weight: bold;
    margin-top: 10px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .parag_8 {
    font-size: 14px;
    margin-top: 15px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .t_01 {
    margin-top: 20px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .t_1 {
    margin-top: 26px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .t_2 {
    margin-top: 37px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .t_3 {
    margin-top: 15px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .parag_9 {
    font-size: 14px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .t_4 {
    margin-top: 20px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .t_5 {
    margin-top: 20px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .t_6 {
    margin-top: 43px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .parag_10 {
    font-size: 14px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .t_7 {
    margin-top: 10px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .t_8 {
    margin-top: 52px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .mya-1 {
    margin-top: 25px;
  }
  .birinchi .tarkib .qator_7 .ustun_13 .qator_8 .ustun_14 .mya-2 {
    margin-top: 40px;
  }
  .birinchi .namuna {
    margin-top: -60px;
  }
  .birinchi .namuna .namuna_title {
    line-height: 25px;
    font-size: 30px;
  }
  .birinchi .namuna .parag_10 {
    text-align: center;
    width: 90%;
    font-size: 18px;
    font-weight: 600;
  }
  .birinchi .namuna .qator_9 .ustun_15 img {
    height: 300px;
    width: 100%;
  }
  .birinchi .namuna .qator_9 .ustun_16 img {
    width: 100%;
    margin-top: 15px;
    height: 200px;
  }
  .birinchi .namuna .qator_9 .ustun_17 .my-width {
    width: 100%;
    margin-top: 15px;
  }
  .birinchi .namuna .qator_9 .qator_9 .ustun_18 img {
    width: 100%;
    height: 200px;
    margin-top: -10px;
    margin-bottom: 20px;
  }
  .birinchi .hamkorlarimiz {
    background-image: none;
    margin-bottom: 300px;
    margin-top: 10px;
  }
  .birinchi .hamkorlarimiz .parag_11 {
    width: 95%;
    text-align: justify;
  }
  .birinchi .hamkorlarimiz .hamkorlarimiz_title {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
  }
  .birinchi .hamkorlarimiz .qator_10 .ustun_18 .qator_11 .ustun_19 img {
    margin-left: 20%;
  }
  .birinchi .hamkorlarimiz .qator_10 .ustun_20 img {
    width: 280px;
    -webkit-transform: translate(20px, -30px);
            transform: translate(20px, -30px);
  }
  .birinchi .hamkorlarimiz .social .qator_12 .ustun_21 .raqam {
    width: 240px;
    color: #4bb543;
    font-size: 20px;
    height: 40px;
    margin-left: 5%;
    border-radius: 5px;
  }
  .birinchi .hamkorlarimiz .social .qator_12 .ustun_21 .parag_11 {
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 22px;
    -webkit-transform: translateX(-13px);
            transform: translateX(-13px);
  }
  .birinchi .hamkorlarimiz .social .qator_12 .ustun_22 .parag_12 {
    margin-top: -45px;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
  }
  .birinchi .hamkorlarimiz .social .qator_12 .ustun_22 .messenger {
    display: -ms-grid;
    display: grid;
  }
  .birinchi .hamkorlarimiz .social .qator_12 .ustun_22 .messenger .tarmoq {
    width: 50%;
    font-size: 20px;
    font-weight: 600;
    margin-left: 20%;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  .birinchi .hamkorlarimiz .social .qator_12 .ustun_22 .messenger .tarmoq img {
    width: 25px;
    margin-left: -15px;
  }
  .birinchi .past {
    margin-top: -345px;
  }
  .birinchi .past .past_navbar {
    margin-top: 370px;
  }
  .birinchi .past .past_navbar ul {
    margin-top: 20px;
  }
  .birinchi .past .past_navbar ul li a {
    font-size: 20px;
  }
  .birinchi .past .qator_13 .ustun_23 {
    margin-top: 10px;
    font-size: 18px;
  }
  .birinchi .past .qator_13 .ustun_23 .past-email {
    width: 30px;
    margin-right: 15px;
  }
  .birinchi .past .qator_13 .ustun_23 .past-tel {
    width: 25px;
    margin-right: 20px;
  }
  .birinchi .past .qator_13 .ustun_23:nth-child(2) {
    font-size: 18px;
  }
  .birinchi .past .qator_13 .ustun_23:nth-child(3) .bio-email {
    font-size: 19px;
  }
  .birinchi .past .qator_13 .ustun_23:nth-child(4) .ustun_23a div:nth-child(1) .past-map {
    width: 38px;
  }
  .birinchi .past .qator_13 .ustun_23:nth-child(4) .ustun_23a div:nth-child(2) {
    font-size: 19px;
    line-height: 20px;
  }
}
/*# sourceMappingURL=style.css.map */